/* Paleta de colores */
:root {
    --color-texto: #fff; /* Texto blanco */
    --color-primario: #007bff; /* Azul primario */
    --color-claro: #4e8cff; /* Azul claro */
    --color-oscuro: #0056b3; /* Azul oscuro */
    --color-gris: #667f99; /* Azul grisáceo */
    --color-destacado: #FDBB00; /* Azul destacado para el párrafo */
}

/* Estilos para la página de inicio */
body {
    font-family: 'Lato';
    color: var(--color-texto);
}

/* Estilos para el video de fondo */
#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Para colocar detrás de otros elementos */
    overflow: hidden; /* Para que no haya desbordamiento */
    object-fit: cover; /* Para cubrir todo el área */
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
}

/* Estilos cuando se ha hecho scroll */
header.scrolled {
    /* Estilos modificados */
    background-color: rgba(0, 0, 0, 0.8); /* Ejemplo de color de fondo */
    /* Otros estilos que desees */
}

.icono {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: flex; 
}

.icono img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.icono span {
    font-size: 18px;
    color: var(--color-texto);
    vertical-align: middle;
}

.icono span:hover{
    text-decoration: underline;
}

.menu {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    vertical-align: middle;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding-top: 15px;
    vertical-align: middle;
}

.menu ul li {
    display: inline-block;
    margin-left: 20px; /* Espacio entre elementos del menú */
}

.menu ul li a {
    color: var(--color-texto); /* Color del texto del menú */
    font-size: 20px;
    text-decoration: none;
    font-style: normal;
    padding: 10px 15px;
    transition: background-color 0.3s ease; /* Efecto de transición al pasar el ratón */
}

.menu ul li a:hover {
    color: var(--color-primario); /* Color de fondo al pasar el ratón */
    text-decoration: underline;
    font-weight: bold;
}

.container {
    width: 100%;
    margin-top: 15vh;
    margin: 20vh auto 0 auto;
    text-align: center;
}


h1 {
    color: var(--color-primario);
    font-family: 'Montserrat'; 
}

h2 {
    color: var(--color-texto);
    font-family: 'Source Sans Pro';
}



