<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sobre mí - Mi Portafolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
     <!-- Video de fondo -->
     <video autoplay muted loop id="video-background">
        <source src="{{ url_for('static', filename='background.mp4') }}" type="video/mp4">
        Tu navegador no soporta video HTML5.
    </video>

    <!-- Icono para volver al inicio -->
    <div class="icono">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='icon.png') }}" alt="Mi Foto">
            <span>David Espinosa</span>
        </a>
    </div>

    <h1>Sobre mí</h1>
    <p>Información detallada sobre tu experiencia, habilidades y educación.</p>
    <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('projects') }}">Proyectos</a>
        <a href="{{ url_for('contact') }}">Contacto</a>
    </nav>
</body>
</html>
