<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto - Mi Portafolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
     <!-- Video de fondo -->
     <video autoplay muted loop id="video-background">
        <source src="{{ url_for('static', filename='background.mp4') }}" type="video/mp4">
        Tu navegador no soporta video HTML5.
    </video>

    <!-- Icono para volver al inicio -->
    <div class="icono">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='icon.png') }}" alt="Mi Foto">
            <span>David Espinosa</span>
        </a>
    </div>


    <h1>Contacto</h1>
    <form>
        <!-- Formulario de contacto -->
    </form>
    <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('about') }}">Sobre mí</a>
        <a href="{{ url_for('projects') }}">Proyectos</a>
    </nav>
</body>
</html>
